section#sidepanel-PersianUIFix
{
  direction:rtl;
  font-family:Vazir,Calibri,'Segoe UI',Tahoma;
}

/* Begin webfont implementation */
@import url('https://cdn.rawgit.com/rastikerdar/vazir-font/master/dist/font-face.css');
/* End webfont implementation */

body,label.control-label,.tooltip,.changes-log-region,.group-title,.menu-title,.toolbar,label,h5,.title h6,.btn,.panel .waze-plain-btn,wz-checkbox,wz-menu-item
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

.feed-issue .type,.feed-notifications .title,.notification-detail.panel.show h2
{
  font-family:Calibri;
  font-weight:700;
}

.problem-edit,.title,.user-about,div#segment-edit-general,div#landmark-edit-general,.map-comment-feature-editor div.tab-content,.camera div.tab-content,.settings.side-panel-section,.direction-message,.save-popover,p.message,span.street,ul.feed-list,ul.result-list,.modal-content,.archive-panel,.selection.selection-icon,.tabs-container,.place-update,.menu,ul.nav.nav-tabs,.notification-detail.panel.show,.segment-details,.alert-danger,.attributes-form,.image-view,div#node-edit-general,.topbar .loading-indicator,.changes-log-region
{
  direction:rtl;
}

#edit-panel .additional-attributes, .edit-panel .additional-attributes 
{
  direction: rtl;
}

.transactions 
{
  direction: rtl;
}

.controls.input-group,input.form-control,.venue-image-dialog .user,.conversation-view .comment-title
{
  direction:ltr;
}

ul.nav,ul.result-list,.transactions ul,.save-popover ul,ul.additional-attributes.list-unstyled.side-panel-section,ul.comment-list.list-unstyled
{
  padding-right:0;
}

.content
{
  padding-left:inherit;
  padding-right:5px;
}

.delete,.input-max-length.new-comment-max-length,.save-popover .close-popover
{
  right:inherit!important;
  left:10px;
}

.panel .header .dot
{
  right:13px;
  left:inherit!important;
}

.panel .close-panel
{
  right:inherit!important;
  left:14px;
}

th
{
  text-align:right;
}

.counter
{
  right:inherit!important;
  left:-5px;
}

.feed-item .content
{
  width:100%;
}

.motivation
{
  text-align:left;
}

.list-unstyled 
{
  padding-right: 0;
  padding-left: inherit;
}

.controls-container.in-label.toggle-empty,.unit-label,.problem-edit .section .title::after,button.send-button.waze-btn.waze-btn-blue,.pinned.text-checkbox,.venue-image-dialog .delete-button,.close,.save-popover .error-list .actions .save
{
  float:left!important;
}

#sidebar #sidepanel-prefs .controls .btn-group
{
  right:inherit!important;
  left:0;
}

#sidebar .nav-tab-icon
{
  padding-right:10px;
  padding-left:0;
}

ul.dropdown-menu.scrollable-dropdown-menu
{
  right: 0;
  left: inherit;
  text-align:right;
}

.direction-label,.conversation-view span.username,.save-popover .error-list .actions .edit
{
  float:right!important;
}

.direction-icons
{
  margin-right:inherit!important;
  margin-left:8px;
}

/* Temporary disable because of WME Bookmark conflict
.fa-chevron-right:before
{
  content:'\f053'!important;
}

.fa-chevron-left:before 
{
  content:'\f054'!important;
}
*/

.modal-footer .btn + .btn
{
  margin-right:5px;
  margin-left:inherit;
}

.controls-container input[type='checkbox']:not(:checked) + label,.controls-container input[type='checkbox']:checked + label
{
  padding-right:25px;
  padding-left:inherit!important;
}

.controls-container input[type='checkbox']:not(:checked) + label:before,.controls-container input[type='checkbox']:checked + label:before,.controls-container input[type='radio']:not(:checked) + label:before,.controls-container input[type='radio']:checked + label:before
{
  right:2px;
  left:inherit;
}

.controls-container input[type='checkbox']:not(:checked) + label:after,.controls-container input[type='checkbox']:checked + label:after,.controls-container input[type='radio']:not(:checked) + label:after,.controls-container input[type='radio']:checked + label:after
{
  right:3px;
  left:inherit;
}

.controls-container input[type='radio']:not(:checked) + label,.controls-container input[type='radio']:checked + label
{
  padding-right:23px;
  padding-left:inherit;
  margin-right:5px;
  margin-left:inherit;
}

#edit-panel .selection-icon:before,.edit-panel .selection-icon:before,.restriction-editing-region .drive-profile-editing-region .drive-profile-edit-free .drive-profile-item .restriction-chip .restriction-chip-content
{
  margin-right:inherit;
  margin-left:5px;
}

#edit-panel .categories .select2-search-choice-close,.edit-panel .categories .select2-search-choice-close
{
  padding-right:3px;
  padding-left:0;
}

#sidepanel-Comments,#sidepanel-feed .subtext,textarea.form-control.new-comment-text
{
  direction:rtl;
  text-align:right;
}

/* Conversation Panel */
.conversation-view .text
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

.conversation-view .new-comment-form .send-button
{
margin-left:inherit;
margin-right:auto;
}

.panel.place-update-edit .header .main-title {
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}
/* Conversation Panel */

/* Restriction Panel */
.restrictions-summary .restriction-summary-title, .restriction-editing-region .restriction-editing-title, .restriction-editing-region .restriction-validation-region .restriction-validation-title 
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

th.restriction-segment-attribute
{
  padding-right:20px!important;
  padding-left:8px!important;
}

span.restriction-item-badge.restriction-item-badge-allowed,.venue-image-dialog .delete-button:before
{
  margin-right:inherit!important;
  margin-left:5px;
}

#edit-panel .edit-restrictions:before,.edit-panel .edit-restrictions:before
{
  right:-2px;
  left:inherit;
}

.restrictions-summary .btn.do-create
{
  margin-right:32px;
  margin-left:inherit;
}

.restriction-editing-region .timeframe-editing-region .timeframe-section-hours .timepicker
{
  margin-right:inherit;
  margin-left:15px;
}

.restriction-editing-region .timeframe-editing-region .timeframe-section-dates .label-datepicker
{
  margin-right:5px;
  margin-left:5px;
}

.restriction-editing-region .drive-profile-editing-region .drive-profile-edit-free .drive-profile-item .restriction-chip
{
  padding:5px 12px 5px 7px;
}
/* Restriction Panel */

/* Segment Lane Panel */
div#segment-edit-lanes 
{
  direction: rtl;
}

.direction-lanes .lane-instruction .drawing 
{
  margin-right: inherit;
  margin-left: 21px;
}
/* Segment Lane Panel */

/* Menu Dropdown Layout */
.toolbar-submenu
{
  direction:rtl;
}

.toolbar .group-title
{
  margin-right:30px;
  margin-left:inherit!important;
}

span.menu-title {
  margin-right:8px;
  margin-left:inherit!important;
}

.toolbar-button.restricted-driving-area
{
  direction:rtl;
}

.toolbar-group-drawing menu.dropdown-menu
{
  right:10px;
  left:inherit!important;
}

.toolbar-group-venues menu.dropdown-menu
{
  right:10px;
  left:inherit!important;
}

.toolbar-group-map-comments menu.dropdown-menu
{
  right:10px;
  left:inherit!important;
}

#edit-buttons .toolbar-group .toolbar-group-item
{
  /*padding-right:40px;*/
  padding-left:inherit;
}

#edit-buttons .toolbar-group .toolbar-group-item .item-icon
{
  left:inherit;
  right:0;
}

#edit-buttons .toolbar-group .toolbar-group-item .menu-title
{
  padding-right:0;
  padding-left:15px;
}

#edit-buttons .toolbar-group .toolbar-group-item .item-container
{
  padding-left: 0px;
  padding-right: 40px;
}

#edit-buttons .toolbar-group-map-comments .dropdown-menu .drawing-controls
{
  right:2px;
  left:inherit;
}

.toolbar-tooltip-text
{
  text-align: right;
}
/* Menu Dropdown Layout */

/* Map Layers Layout */
ul.list-unstyled.togglers {
  padding: 0;
}

.layer-switcher .togglers .group
{
    padding: 0 6px 0 12px;
}

.layer-switcher .layer-switcher-toggler-tree-category wz-toggle-switch
{
    right:inherit;
    left:0;
}

.layer-switcher .togglers .text-checkboxes .text-checkbox
{
  margin-right:12px;
  margin-left:inherit;
}

.layer-switcher .togglers ul
{
    padding-right:26px;
    padding-left:inherit;
}

.layer-switcher .menu .wz-checkbox input[type='checkbox'] + label:before
{
    margin-right: 0px;
    margin-left: 8px;
}

.layer-switcher .layer-switcher-toggler-tree-category>.w-icon.w-icon-caret-down.upside-down
 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Map Layers Layout */

/* User Info Box */
.tippy-box[data-theme='user-box'] .user-box-container 
{
  direction: rtl;
}

.tippy-box[data-theme='user-box'] .user-box-container .user-box-header .user-box-header-details 
{
  padding: 18px 0 18px 18px;
}

.tippy-box[data-theme='user-box'] .user-box-container .user-box-numbers .number-label 
{
  text-align: center;
}

.tippy-box[data-theme='user-box'] .user-box-container .user-box-numbers .number 
{
  text-align: center;
}

.tippy-box[data-theme='user-box'] .user-box-container ul.user-box-links 
{
  text-align: right;
}
/* User Info Box */

/* Permalink Share Box */
.tippy-box[data-theme='share-location-pop-up'] .share-location-pop-up-wrapper .share-location-pop-up h5 
{
  text-align: right;
}

.tippy-box[data-theme='share-location-pop-up'] .share-location-pop-up-wrapper .share-location-pop-up h5 i.w-icon 
{
  float: left;
  margin-right: 12px;
  margin-left: 0;
}

.tippy-box[data-theme='share-location-pop-up'] .share-location-pop-up-wrapper .share-location-pop-up wz-checkbox 
{
  direction: rtl;
  text-align: right;
}
/* Permalink Share Box */

/* Voice Prompt */
div#big-tooltip-region 
{
  direction: rtl;
}

.turn-instructions-panel 
{
  direction: rtl;
}

.turn-preview-inner .turn-preview-content ,.turn-instructions-panel .panel-header
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

.turn-preview-inner .turn-preview-content 
{
  padding-right: 12px;
  padding-left: 0!important;
}

.turn-instructions-panel .locale-selector 
{
  float: left;
}

.turn-instructions-panel .play-button 
{
  left: 6px;
  right: inherit!important;
}
/* Voice Prompt */

/* Place work hours */
.radio input[type='radio'], .radio-inline input[type='radio'], .checkbox input[type='checkbox'], .checkbox-inline input[type='checkbox']
{
  margin-right:-20px;
  margin-left:inherit;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
{
  float:right;
}

.pull-left.to-label
{
  float:right!important;
  margin-right:inherit!important;
  margin-left:10px;
}
/* Place work hours */

/* Save chnagelog menu */
.toolbar .toolbar-button.waze-icon-save .counter
{
  left: 5%;
}

.changes-log-region .action-item .left-side 
{
  left: inherit;
  right: 0;
}

.changes-log-region .action-item .left-side .dot-container .dot 
{
  left: inherit;
  right: 5px;
}

.changes-log-region .action-item .left-side .dot-container .dot:after 
{
  left: inherit;
  right: -2px;
}

.changes-log-region .action-item .right-side 
{
  margin-left: inherit;
  margin-right: 18px;
}

.changes-log-region .actions-group-container .actions 
{
  right: inherit;
  left: 0px;
}

.changes-log-region .header h6 
{
  direction: rtl;
  font-family: Vazir,'Segoe UI',Tahoma,sans-serif!important;
  text-align: right;
}

.changes-log-region .action-item .right-side .title 
{
  font-family: Vazir,'Segoe UI',Tahoma,sans-serif!important;
  text-align: right;
}
/* Save changelog menu */

/* Status Card Box */
div#wz-dialog-container 
{
  direction: rtl;
}

.tile-build-status-card .tile-build-status-card-content 
{
  padding-right: inherit;
  padding-left: 45px;
}

.tile-build-status-card .tile-build-status-card-block .tile-build-status-card-block__small-title .fa-check-circle 
{
  margin-right: 5px;
  margin-left: inherit;
}

.tile-build-status-card .tile-build-status-card-block .tile-build-status-card-block__upper wz-button 
{
  margin: 9px 0 0 9px;
}

.tile-build-status-card .tile-build-status-card-block .tile-build-status-card-block__upper wz-button .phone-icon 
{
  margin-right: inherit;
  margin-left: 9px;
}

#WazeMap .snapshot-message .snapshot-mode-message 
{
  direction: rtl;
}

#WazeMap .snapshot-message .snapshot-mode-message .snapshot-mode-text .car-icon 
{
  margin-right: inherit;
  margin-left: 10px;
}

#WazeMap .snapshot-message .snapshot-mode-message .snapshot-mode-text .w-icon-info 
{
  margin-right: 10px;
  margin-left: inherit;
}

.wz-toggle-switch .wz-toggle-label 
{
  margin-inline-end: 16px;
  margin-inline-start: inherit;
}
/* Status Card Box*/

/* WME Scripts */
div#WMEFP-UR-ALLPM
{
  right: inherit!important;
  left: 40px;
  margin-right: -40px;
  margin-left: inherit!important;
  float: left!important;
}

.WazeControlDrawFeature input {
  margin-right: 5px;
}

.WazeControlDrawFeature label {
  margin-right: 0 !important;
}

.WazeControlDrawFeature .tbLegend {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* UR-MP */
span[id^='purt-categoriespur'], span[id^='purt-namepur'], span[id^='mct-subjectmc'], span[id^='mct-bodymc'], span[id^='mpt-descriptionmp'], span[id^='urt-descriptionur']
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
  font-weight:300;
}

/* URC */
div#urceShortcutsExpandDiv 
{
  direction: ltr;
}
#panel-container .mapUpdateRequest.panel .problem-edit .header 
{
  padding-right:30px;
  padding-left:inherit;
}
#panel-container .mapUpdateRequest.panel .problem-edit .header .main-title
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

/* JA */
#sidepanel-ja form.attributes-form.side-panel-section
{
  direction: ltr;
}

/* WME_FU*/
#sidebar 
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

/* WME Color Highlights */
#sidepanel-highlights input[type='checkbox']
{
  margin-left: -20px;
}
/* WME Scripts */