section#sidepanel-PersianUIFix
{
  direction:rtl;
  font-family:Vazir,Calibri,'Segoe UI',Tahoma;
}

/* Begin webfont implementation */
@import url('https://cdn.rawgit.com/rastikerdar/vazir-font/master/dist/font-face.css');
/* End webfont implementation */

body,label.control-label,.tooltip
{
  font-family:Vazir,'Segoe UI',Tahoma,sans-serif!important;
}

.feed-issue .type,.feed-notifications .title,.notification-detail.panel.show h2
{
  font-family:Calibri;
  font-weight:700;
}

.problem-edit,.title,.user-about,div#segment-edit-general,div#landmark-edit-general,.map-comment-feature-editor div.tab-content,.camera div.tab-content,.settings.side-panel-section,.direction-message,.save-popover,p.message,span.street,ul.feed-list,ul.result-list,.modal-content,.archive-panel,.selection.selection-icon,.tabs-container,.place-update,.menu,ul.nav.nav-tabs,.notification-detail.panel.show,.segment-details,.alert-danger,.attributes-form,.image-view
{
  direction:rtl;
}

.controls.input-group,input.form-control,.venue-image-dialog .user,.conversation-view .comment-title
{
  direction:ltr;
}

ul.nav,ul.result-list,.transactions ul,.save-popover ul,ul.additional-attributes.list-unstyled.side-panel-section,ul.comment-list.list-unstyled
{
  padding-right:0;
}

.content
{
  padding-left:inherit;
  padding-right:5px;
}

.delete,.input-max-length.new-comment-max-length,.save-popover .close-popover
{
  right:inherit!important;
  left:10px;
}

.panel .header .dot
{
  right:13px;
  left:inherit!important;
}

.panel .close-panel
{
  right:inherit!important;
  left:14px;
}

th
{
  text-align:right;
}

.counter
{
  right:inherit!important;
  left:-5px;
}

.feed-item .content
{
  width:100%;
}

.motivation
{
  text-align:left;
}

.controls-container.in-label.toggle-empty,.unit-label,.problem-edit .section .title::after,button.send-button.waze-btn.waze-btn-blue,.pinned.text-checkbox,.venue-image-dialog .delete-button,.close,.save-popover .error-list .actions .save
{
  float:left!important;
}

#sidebar #sidepanel-prefs .controls .btn-group
{
  right:inherit;
  left:0;
}

#sidebar .nav-tab-icon
{
  padding-right:10px;
  padding-left:0;
}

#edit-panel .edit-restrictions:before,.edit-panel .edit-restrictions:before
{
  right:-2px;
  left:inherit;
}

.direction-label,.conversation-view span.username,.save-popover .error-list .actions .edit
{
  float:right!important;
}

.direction-icons
{
  margin-right:inherit!important;
  margin-left:8px;
}

th.restriction-segment-attribute
{
  padding-right:20px!important;
  padding-left:8px!important;
}

span.restriction-item-badge.restriction-item-badge-allowed,.venue-image-dialog .delete-button:before
{
  margin-right:inherit!important;
  margin-left:5px;
}

.fa-chevron-right:before
{
  content:'\F053'!important;
}

.restrictions-summary .btn.do-create
{
  margin-right:32px;
  margin-left:inherit;
}

.modal-footer .btn + .btn
{
  margin-right:5px;
  margin-left:inherit;
}

.restriction-editing-region .timeframe-editing-region .timeframe-section-hours .timepicker
{
  margin-right:inherit;
  margin-left:15px;
}

.restriction-editing-region .timeframe-editing-region .timeframe-section-dates .label-datepicker
{
  margin-right:5px;
  margin-left:5px;
}

.restriction-editing-region .drive-profile-editing-region .drive-profile-edit-free .drive-profile-item .restriction-chip
{
  padding:5px 12px 5px 7px;
}

.layer-switcher .togglers .children
{
  padding-right:22px;
  padding-left:inherit;
}

.layer-switcher .togglers .text-checkboxes .text-checkbox
{
  margin-right:12px;
  margin-left:inherit;
}

.controls-container input[type='checkbox']:not(:checked) + label,.controls-container input[type='checkbox']:checked + label
{
  padding-right:25px;
  padding-left:inherit!important;
}

.controls-container input[type='checkbox']:not(:checked) + label:before,.controls-container input[type='checkbox']:checked + label:before,.controls-container input[type='radio']:not(:checked) + label:before,.controls-container input[type='radio']:checked + label:before
{
  right:2px;
  left:inherit;
}

.controls-container input[type='checkbox']:not(:checked) + label:after,.controls-container input[type='checkbox']:checked + label:after,.controls-container input[type='radio']:not(:checked) + label:after,.controls-container input[type='radio']:checked + label:after
{
  right:3px;
  left:inherit;
}

.controls-container input[type='radio']:not(:checked) + label,.controls-container input[type='radio']:checked + label
{
  padding-right:23px;
  padding-left:inherit;
  margin-right:5px;
  margin-left:inherit;
}

#edit-panel .selection-icon:before,.edit-panel .selection-icon:before,.restriction-editing-region .drive-profile-editing-region .drive-profile-edit-free .drive-profile-item .restriction-chip .restriction-chip-content
{
  margin-right:inherit;
  margin-left:5px;
}

#edit-panel .categories .select2-search-choice-close,.edit-panel .categories .select2-search-choice-close
{
  padding-right:3px;
  padding-left:0;
}

#sidepanel-Comments,#sidepanel-feed .subtext,textarea.form-control.new-comment-text
{
  direction:rtl;
  text-align:right;
}

/* Menu Dropdown Layout */
.toolbar-submenu
{
  direction: rtl;
}

.toolbar .group-title
{
  margin-right: 40px;
  margin-left: inherit !important;
}

#edit-buttons .toolbar-group .toolbar-group-item {
  padding-right: 40px;
  padding-left: inherit;
}

#edit-buttons .toolbar-group .toolbar-group-item .item-icon {
  right: 0;
  left: inherit;
}

#edit-buttons .toolbar-group .toolbar-group-item .menu-title {
  padding-right: 0;
  padding-left: 15px;
}

#edit-buttons .toolbar-group-map-comments .dropdown-menu .drawing-controls {
  right: 2px;
  left: inherit;
}

.toolbar-group-drawing menu.dropdown-menu {
  left: -117px !important;
}

.toolbar-group-venues menu.dropdown-menu {
  left: -148px !important;
}

.toolbar-group-map-comments menu.dropdown-menu {
  left: -10px !important;
}
/* Menu Dropdown Layout */

div#WMEFP-UR-ALLPM
{
  right: inherit !important;
  left: 40px;
  margin-right: -40px;
  margin-left: inherit !important;
  float: left !important;
}